<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form name and age</title>
</head>

<body>

</html>
<form action="/user" method="POST">
    <div>
        <label for="name" />
        <input type="text" name="name" placeholder="Enter your name" />
    </div>
    </br>
    <div>
        <label for="age" />
        <input type="number" name="age" placeholder="age" />
    </div>
    </br>
    <button type="submit"> Register </button>
</form>

</body>