<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form name and age</title>
</head>

<body>

</html>
<form action="/student" method="POST">
    <div>
        <label for="ID" />
        <input type="number" name="ID" placeholder="Enter your Full Roll" />
    </div>
    </br>
    <div>
        <label for="Company" />
        <input type="text" name="Company" placeholder="Name of your Organization" />
    </div>
    </br>
    <button type="submit"> Save Info </button>
</form>

</body>